@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';

$dash-width: 8px;
$dash-height: 2px;

$z-layer-step: 10;
$max-depth: 10;
@for $i from 1 through $max-depth {
  .depth-#{$i} {
    &.vue-flow__edges {
      z-index: $i * $z-layer-step - 2 !important;
      &.fallback {
        z-index: $i * $z-layer-step - 1 !important;
      }
      &.highlighted {
        z-index: 9999 !important;
        &.fallback {
          z-index: 999 !important;
        }
      }
      &.interactive {
        z-index: 99999 !important;
      }
    }
    &.vue-flow__node {
      z-index: $i * $z-layer-step !important;
    }
  }
}

.vue-flow__panel {
  button:first-of-type {
    border-radius: 8px 0 0 8px;
  }
  button:last-of-type {
    border-radius: 0 8px 8px 0;
  }
}

.vue-flow__controls {
  background-color: transparent;
  bottom: 20px !important;
  box-shadow: none;
  left: calc(50% - 28px) !important; // Center - custom button width
  transform: translateX(-50%) !important;
}

.vue-flow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.vue-flow__controls-button {
  padding: 6px;
  background: rgba(var(--v-theme-backgroundScale2));
  border-bottom: none;
  svg {
    fill: rgba(var(--v-theme-text))
  }
  &:hover {
    background: rgba(var(--v-theme-backgroundScale3));
  }
}

.vue-flow__node {
  pointer-events: all !important;
  .v-card {
    border: 2px solid transparent;
  }
  &.highlighted {
    &:not(.vue-flow__node-FlowSlot) {
      .v-card:first-of-type {
        border: 2px solid rgba(var(--v-theme-primary));
      }
    }
  }
}

.vue-flow__node-FlowSlot {
  .v-card {
    border: none;
    outline-offset: -2px;
    outline: 2px dashed gray;
  }
  &.interactive {
    .v-card {
      animation: moving-border 400ms infinite linear;
      background-image: linear-gradient(90deg, rgba(var(--v-theme-primary)) 50%, transparent 50%), linear-gradient(90deg, rgba(var(--v-theme-primary)) 50%, transparent 50%), linear-gradient(0, rgba(var(--v-theme-primary)) 50%, transparent 50%), linear-gradient(0, rgba(var(--v-theme-primary)) 50%, transparent 50%);
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: $dash-width $dash-height, $dash-width $dash-height, $dash-height $dash-width, $dash-height $dash-width;
      outline: none;
    }
  }
}

@keyframes moving-border {
  0% {
    background-position: 0 0, $dash-width 100%, 0 $dash-width, 100% 0;
  }
  100% {
    background-position: $dash-width 0, 0 100%, 0 0, 100% $dash-width;
  }
}

.vue-flow__edge {
  &.interactive,
  &.highlighted {
    path {
      stroke: rgba(var(--v-theme-primary));
      stroke-width: $dash-height;
    }
  }
}

.vue-flow__edge-fallback {
  path {
    stroke: rgba(var(--v-theme-fallback)) !important;
  }
  &.interactive,
  &.highlighted {
    path {
      stroke: rgba(var(--v-theme-error)) !important;
    }
  }
}

.vue-flow__edge-path {
  stroke: rgba(var(--v-theme-backgroundScale4));
  stroke-width: 2px;
}

marker {
  polyline {
    stroke: rgba(var(--v-theme-backgroundScale4)) !important;
    fill: rgba(var(--v-theme-backgroundScale4)) !important;
  }
  &.fallback {
    polyline {
      stroke: rgba(var(--v-theme-fallback)) !important;
      fill: rgba(var(--v-theme-fallback)) !important;
    }
  }
  &.highlighted {
    polyline {
      stroke: rgba(var(--v-theme-primary)) !important;
      fill: rgba(var(--v-theme-primary)) !important;
    }
    &.fallback {
      polyline {
        stroke: rgba(var(--v-theme-error)) !important;
        fill: rgba(var(--v-theme-error)) !important;
      }
    }
  }
}

.vue-flow__handle {
  z-index: 99999;
  background-color: rgba(var(--v-theme-backgroundScale4));
  width: 10px;
  height: 10px;
  &.fallback {
    background-color: rgba(var(--v-theme-fallback));
    right: calc(-12px - 2px); // Card padding + border width
    &.progress {
      right: 0;
    }
  }
  &.interactive,
  &.highlighted {
    background-color: rgba(var(--v-theme-primary));
    &.fallback {
      background-color: rgba(var(--v-theme-error));
    }
  }
}

.vue-flow__handle-left {
  border: none;
  background-color: transparent !important;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
