SERVER_API_URL=
SERVER_API_KEY=


AGENTCORE_RUNTIME_ARN=arn:aws:bedrock-agentcore:us-west-2:<account>:runtime/<runtime-id>
AGENTCORE_REGION=us-west-2
AGENTCORE_TOKEN_ENDPOINT=https://<cognito-domain>.auth.us-west-2.amazoncognito.com/oauth2/token
AGENTCORE_CLIENT_ID=
AGENTCORE_CLIENT_SECRET=
AGENTCORE_TOKEN_SCOPE=genbi/invoke
